demo/mac/build
sdk/audio/test/build
sdk/build
sdk/codecs/test/build
sdk/mcp/test/build
sdk/protocols/test/build
sdk/play/test/build
examples/build
examples/mac/build
board/mac/build
out
sdk/ota/test/build
sdk/camera/test/build
bak
sdk/http/test/build
*.o
sdk/display/lvgl_display/test/build
*/build/
src/audio/audio/test/build
src/common/http/test/build
src/display/build
src/linxsdk/build
src/linxsdk/mcp/test/build
src/linxsdk/ota/test/build
src/linxsdk/protocols/test/build
src/common/build
src/third/liblvgl/build
src/audio/build
src/audio/test/build
src/common/std/test/build
**/build
src/audio/processor/test/build